.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background-color: #1cbbff;
  max-width: 80%;

  @container (max-width: 900px) {
    width: min-content;
    padding: 1rem;
  }

  & > header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    margin: 0 0.75rem;
    color: white;
    gap: 1rem;
    font-weight: 900;
    font-size: 2rem;
  }

  .lobby {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    gap: 0.1rem;

    @container (max-width: 900px) {
      flex-wrap: wrap;
    }

    & > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      & > .copy {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        width: 320px;
        height: 38px;
        border: 2px solid black;
        border-radius: 0.75rem;
        background-color: white;
        font-size: 0.75rem;
        font-weight: 800;
        cursor: pointer;
      }

      .iconWrapper {
        position: relative;
        width: 16px;
        height: 16px;
      }

      .icon {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
      }

      .visible {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
      }

      .hidden {
        opacity: 0;
        transform: scale(0.5);
        pointer-events: none;
      }

      .error {
        line-height: 1rem;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
      }

      .themeList {
        display: flex;
        width: 100%;
        gap: 0.5rem;
        flex-direction: row;
        max-width: 320px;

        & > select {
          padding: 0.25rem;
          width: 100%;
          border: 2px solid black;

          option {
            cursor: pointer;
          }

          &::-webkit-scrollbar {
            margin-left: 1rem;
          }

          &::-webkit-scrollbar-track {
            background: #8eddff;
          }

          &::-webkit-scrollbar-thumb {
            background: #1cbbff;
          }
        }
      }

      & > input,
      & > select {
        width: 20rem;
        border: 2px solid black;
        color: black;
        background-color: white;
        font-size: 1.1rem;
        padding: 0.25rem 0.75rem;
        border-radius: 0.75rem;

        &::placeholder {
          color: #737373;
        }
      }

      & > select {
        padding: 0.3133rem 0.75rem;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        background-image: url('../../assets/select-arrow.png');
        background-position: 100%;
        background-repeat: no-repeat;

        option {
          width: 10px;
        }
      }

      select::after {
        padding-right: right;
      }
    }

    & > ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.2rem 0;
      height: 20.7rem;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        margin-left: 1rem;
      }

      &::-webkit-scrollbar-track {
        background: #1cbbff;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
        border-left: 1px solid #1cbbff;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        padding-right: 1rem;
        background-color: white;
        border-bottom: #1cbbff;
        border-radius: 5.75rem 0 0 5rem;

        p:nth-child(2) {
          font-size: 1.1rem;
          font-weight: 800;
          text-align: center;
          overflow: hidden;

          @container (max-width: 900px) {
            width: 145px;
          }
        }

        p:nth-child(3) {
          font-weight: 800;
          text-align: end;
          font-size: 0.8rem;
          color: #116300;
        }
      }
    }
  }

  & > .actions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5rem;
    margin: 0 0.75rem;

    button {
      &:nth-child(1) {
        position: absolute;
        left: 1rem;
        background-color: #e82c14;
        border: 2px solid #e82c14;
        line-height: 1rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
      }

      &:nth-child(2) {
        width: fit-content;
        line-height: 1.5rem;
        padding: 0.25rem 5rem;
      }
    }
  }
}
