.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  transition: border 0.2s;
  padding: 0.5rem;
  gap: 0.5rem;
  height: fit-content;
  width: 12rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid #1cbbff;

  &.current {
    position: relative;
    border: 5px solid #ffd700;

    &::after {
      content: 'Sua Vez';
      font-family: 'Consolas';
      position: absolute;
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-weight: 900;
      font-size: 1.75rem;
      line-height: 1.5rem;
      top: 0;
      right: -2rem;
      letter-spacing: -0.5rem;
      text-transform: uppercase;
      border-radius: 0 1.25rem 1.25rem 0;
      padding: 0.5rem 0.25rem;
      padding-bottom: 1.25rem;
      background-color: #ffd700;
      border-color: #aa6600;
      color: #aa6600;
    }
  }

  .info {
    display: flex;
    justify-content: center;

    .data {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        width: 10rem;
        border-radius: 50%;
      }

      .name {
        font-size: 1.2rem;
        font-weight: 800;
        max-width: 100%;
        overflow: hidden;
      }
    }
  }

  .abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    .abilityBtn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      font-size: 1.1rem;
      line-height: 1.1rem;
      background-color: #1cbbff;
      padding: 0.25rem;
      padding-left: 1rem;
      text-align: center;

      .abilityName {
        text-align: center;
        width: 100%;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        border-radius: 100%;
      }

      .active {
        background-color: #256100;
      }

      .inactive {
        background-color: #256100;
      }
    }
  }

  .tokens {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: 1rem;
    height: 100px;
    // border: 1px solid red;

    .coin {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:nth-child(1) {
        transform: translate(-2.25rem, 0.95rem);
        z-index: 10;
      }
      &:nth-child(2) {
        transform: translate(-1rem, 0.25rem);
        z-index: 10;
      }
      &:nth-child(3) {
        transform: translate(-0.4rem, 0rem);
        z-index: 10;
      }
      &:nth-child(4) {
        transform: translate(-0.9rem, -0.25rem);
        z-index: 10;
      }
      &:nth-child(5) {
        transform: translate(-2.05rem, -0.8rem);
        z-index: 10;
      }
      &:nth-child(6) {
        transform: translate(-0.75rem, -10.7rem);
        z-index: 5;
      }
      &:nth-child(7) {
        transform: translate(0.3rem, -11.3rem);
        z-index: 5;
      }
      &:nth-child(8) {
        transform: translate(1rem, -11.5rem);
        z-index: 5;
      }
      &:nth-child(9) {
        transform: translate(0.7rem, -11.75rem);
        z-index: 5;
      }
      &:nth-child(10) {
        transform: translate(-0.3rem, -12.2rem);
        z-index: 5;
      }

      .badge {
        position: absolute;
        border-radius: 100%;
        z-index: -10;
        background-color: #ffd700;
        border-color: #aa6600;
        color: #aa6600;
      }

      .coinValue {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        line-height: 0.8rem;
        font-weight: 900;
        font-family: 'Consolas';
        color: #aa6600;
      }
    }

    .coin:has(.coinValue:hover) .badge,
    .coin:has(.coinValue:hover) .coinValue {
      background-color: #aa6600;
      color: #ffd700;
    }
  }
}

.oponent {
  padding: 0;
  padding-top: 0.75rem;

  .info {
    display: flex;
    justify-content: center;

    .data {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        width: 7.5rem;
      }

      .name {
        margin-top: 0.5rem;
        font-size: 1.2rem;
        font-weight: 800;
      }
    }
  }

  .tokens {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0;

    .coin {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0;

      &:nth-child(1) {
        transform: translate(-2.25rem, 0rem);
      }
      &:nth-child(2) {
        transform: translate(-0.75rem, -0.75rem);
        z-index: 10;
      }
      &:nth-child(3) {
        transform: translate(-0.25rem, -1rem);
        z-index: 10;
      }
      &:nth-child(4) {
        transform: translate(-0.8rem, -1.3rem);
        z-index: 10;
      }
      &:nth-child(5) {
        transform: translate(-2.25rem, -2.2rem);
        z-index: 10;
      }
      &:nth-child(6) {
        transform: translate(-0.75rem, -11.45rem);
        z-index: 5;
      }
      &:nth-child(7) {
        transform: translate(0.75rem, -12.2rem);
        z-index: 5;
      }
      &:nth-child(8) {
        transform: translate(1.3rem, -12.4rem);
        z-index: 5;
      }
      &:nth-child(9) {
        transform: translate(0.8rem, -12.75rem);
        z-index: 5;
      }
      &:nth-child(10) {
        transform: translate(-0.6rem, -13.5rem);
        z-index: 5;
      }

      .badge {
        position: absolute;
        border-radius: 100%;
        z-index: -10;
      }

      .coinValue {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        line-height: 0.8rem;
        font-weight: 900;
        font-family: 'Consolas';
      }
    }

    .coin:has(.coinValue:hover) .badge {
      background-color: none;
    }
  }

  &.current {
    position: relative;
    border: 5px solid #ffd700;

    &::after {
      font-size: 1.5rem;
      line-height: 1.5rem;
      top: 0;
      right: auto;
      left: -2rem;
      border-radius: 1.25rem 0 0 1.25rem;
      padding: 0.5rem 0.25rem;
      padding-bottom: 1.25rem;
      background-color: #ffd700;
      border-color: #aa6600;
      color: #aa6600;
    }
  }
}
